@import "../../../../common/styles/globals/variables";

.item {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    border-bottom: 1px solid $gray-line;
  }
  h2 {
    color: $black;
    text-transform: capitalize;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  p {
    color: $gray-300;
  }
}