.footer {
  margin-top: auto;
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
  color: #666;
  padding: 1rem 0;

  .pages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1rem;
    a {
      font-size: .85rem;
      transition: all .3s ease;
      color: #333;
      display: flex;
      &:hover {
        color: #333;
        text-decoration: underline;
      }
    }
    li:not(:last-child) {
      @media screen and (min-width: 768px) {
        a::after {
          content: '';
          background: #555;
          width: 1px;
          margin-left: 2rem;
          display: inline-flex;
        }
      }
    }
  }
  .developed {
    user-select: none;
    color: #555;
    font-size: .7rem;
  }
}